body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: env(safe-area-inset-top, 0px);
    margin-left: env(safe-area-inset-left, 0px);
    margin-bottom: env(safe-area-inset-bottom, 0px);
    margin-right: env(safe-area-inset-right, 0px);
}

.myTitlebar {
    color: #FFFFFF;
    background-color: #017AD5;
    position: fixed;
    left: env(titlebar-area-x, 0);
    top: env(titlebar-area-y, 0);
    width: calc(env(titlebar-area-width, 100%) - 2em);
    height: env(titlebar-area-height, 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1em;
    -webkit-app-region: drag;
    app-region: drag;
}

.titlebarItem {
    height: 20px;
    padding: 0px 1em;
}

.titlebarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    margin-top: env(titlebar-area-height, 5rem);
}